
<div class="jumbotron text-center">
  <h3 class="display-3">Thank You for borrowing the book, <%=User.email %> </h3>
  <p class="lead"><strong>Please check your email</strong> You can get your book starting at <%=Date.today%> until <%=Date.today + 2%>. After receiving, You will have 10 days to return this book after confimation</p>
  <hr>
  <p>
    <a href="">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="http://localhost:3000/books/" role="button">Back to books list</a>
  </p>
</div>
