

.bd-example {

  display: flex;
  width: 900px;
  height: 600px;
  font-family: sans-serif;
  padding: 50px;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  object-fit: cover;

}

.d-block {
  padding: 50px;
  height: 600px;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  bottom: 50px;
  left: 50px;
  background: rgba(0, 0, 0, 0.3);
  width: 700px;
}

.carousel-indicators{

  position: absolute;
  bottom: 30px;

}

#carouselExampleCaptions {
  position: relative;
}
