

.bd-example {

  display: flex;
  width: 900px;
  height: 600px;
  font-family: sans-serif;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.6);
  padding: 50px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  object-fit: cover;

}

.d-block {

  padding: 50px;
  width: 900px;
  height: 600px;
  object-fit: cover;
}





