.card-product {
  position: relative;
  overflow: hidden;
  height: 190px;
  background: #cccccc;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 15px 15px 15px;
  &:hover {
    background: #b3b3b3;
    img {
      opacity: 0.5;
      filter: alpha(opacity=50);
    }
  }
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: #4d4d4d;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 2px;
  margin-left: 15px;
  color: #4d4d4d;
}

.card-product .card-product-infos {
  padding-left: 16px;
  // padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-top: 10px;
}

.index-page {
margin: 100px 12%;
color: #4d4d4d;
margin-bottom: 30px;
}

.index-page h2 {
  margin-left: 15px;
}

.btn-add {

  margin-right: 15px;
}

.index-page h4 {
  margin-left: 15px;
  padding-top: 15px;
}

.index-page h6 {
  margin-left: 15px;
  padding-top: 15px;
}

.index-page h5 {
  margin-left: 15px;
  padding-top: 10px;
  font-size: 18px;
  color: #4d4d4d;
}

.icon {
  color: #4d4d4d;
  position: absolute;
  right: 20px;
  top: 20px;
}


