.show-card {
  overflow: hidden;
  height: 700px;
  background: #cccccc;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 10%;
  position: relative;
  margin: 100px auto;
  margin-bottom: 30px;
  margin-top: 100px;
}

.show-card img {
  height: 500px;
  width: 440px;
  // object-fit: cover;
}

.show-card h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  color: #4d4d4d;
}

.show-card p {
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: #4d4d4d;
}

.show-card h3 {
  color: #4d4d4d;
  font-size: 22px;
}

.show-card-infos {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
  align-self: stretch;

}

.content-backgroud {
  background-color: rgba(230, 230, 230, 0.6);
  border-radius: 0 6px 6px 0;
  display: flex;
}

.button-back {
  position: absolute;
  bottom: 50px;
}

#trash {
  margin-bottom: 5px;
  padding: 5px;
}

#pencil {
  margin-bottom: 5px;
  padding: 5px;
}
