<div class="jumbotron text-center">
  <h3 class="display-3">Thank you for borrowing the book <%= @book.name %>, <%=@transaction.user.email %> </h3>
  <p class="lead"><strong>Please check your email</strong></p>
  <hr>
  <p>
    <a href="">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="http://localhost:3000/books/" role="button">Back to books list</a>
  </p>
</div>
