

<div class="profile">
      <h3>Hello <%=@profile.user.email %></h3>
  </div>

<!--     <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Your Books</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">See your books</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="https://richmedia.channeladvisor.com/ImageDelivery/imageService?profileId=12026540&id=708096&recipeId=728" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Your Borrowed Books</h5>
        <p class="card-text">Cick here to see all your borrowed books</p>
        <a href="#" class="btn btn-primary">Books</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Your Lended Books</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">See your books</a>
      </div>
    </div>
    </div>
 -->
<div class="container d-flex justify-content-around">
  <div class="profile-book d-flex border border-secondary">
    <img src="https://richmedia.channeladvisor.com/ImageDelivery/imageService?profileId=12026540&id=708096&recipeId=728" />
    <div class="card-product-infos">
      <h2>Your Books</h2>
      <p>Cick here to see all <strong>Your Books</strong></p>
    </div>
  </div>
    <div class="profile-book d-flex mh-300 border border-secondary">
      <img src="https://richmedia.channeladvisor.com/ImageDelivery/imageService?profileId=12026540&id=708096&recipeId=728"/>
      <div class="card-product-infos">
        <h2>Borrowed Books</h2>
        <p>Cick here to see all your <strong>Borrowed Books </strong></p>
      </div>
    </div>
    <div class="profile-book d-flex border border-secondary">
      <img src="https://richmedia.channeladvisor.com/ImageDelivery/imageService?profileId=12026540&id=708096&recipeId=728" />
      <div class="card-product-infos">
        <h2>Lended Books</h2>
        <p>Cick here to see all <strong>Your Lended Books</strong></p>
      </div>
    </div>
  </div>
